<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NuGet.Build.Packaging" version="0.2.2" targetFramework="monoandroid11.0" developmentDependency="true" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="monoandroid11.0" />
  <package id="dotnet.AndroidX.Activity" version="1.4.0.4" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Annotation" version="1.3.0.4" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Annotation.Experimental" version="1.2.0.2" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.AppCompat" version="1.4.2.1" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.AppCompat.AppCompatResources" version="1.4.2.1" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Arch.Core.Common" version="2.1.0.15" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Arch.Core.Runtime" version="2.1.0.15" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.AsyncLayoutInflater" version="1.0.0.14" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Browser" version="1.3.0.8" targetFramework="monoandroid11.0" />
  <package id="dotnet.AndroidX.CardView" version="1.0.0.16" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Collection" version="1.2.0.4" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Concurrent.Futures" version="1.1.0.9" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.CoordinatorLayout" version="1.2.0.2" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Core" version="1.8.0.1" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Core.Core.Ktx" version="1.8.0.1" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.CursorAdapter" version="1.0.0.14" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.CustomView" version="1.1.0.13" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.DocumentFile" version="1.0.1.14" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.DrawerLayout" version="1.1.1.9" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Emoji2" version="1.1.0.2" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Emoji2.ViewsHelper" version="1.1.0.2" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Fragment" version="1.4.1.2" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Interpolator" version="1.0.0.14" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Legacy.Support.Core.UI" version="1.0.0.15" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Legacy.Support.Core.Utils" version="1.0.0.14" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Legacy.Support.V4" version="1.0.0.14" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Lifecycle.Common" version="2.4.1.2" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Lifecycle.LiveData" version="2.4.1.2" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Lifecycle.LiveData.Core" version="2.4.1.2" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Lifecycle.Process" version="2.4.1.2" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Lifecycle.Runtime" version="2.4.1.2" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Lifecycle.Service" version="2.4.1.2" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Lifecycle.ViewModel" version="2.4.1.2" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Lifecycle.ViewModelSavedState" version="2.4.1.2" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Loader" version="1.1.0.14" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.LocalBroadcastManager" version="1.1.0.2" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Media" version="1.6.0.1" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Migration" version="1.0.10" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.MultiDex" version="2.0.1.14" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Print" version="1.0.0.14" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.ResourceInspection.Annotation" version="1.0.1.2" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Room.Common" version="2.4.2.2" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Room.Runtime" version="2.4.2.2" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.SavedState" version="1.1.0.8" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.SlidingPaneLayout" version="1.2.0.2" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Sqlite" version="2.2.0.2" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Sqlite.Framework" version="2.2.0.2" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Startup.StartupRuntime" version="1.1.1.2" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.SwipeRefreshLayout" version="1.1.0.9" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Tracing.Tracing" version="1.1.0.1" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Transition" version="1.4.1.7" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.VectorDrawable" version="1.1.0.14" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.VectorDrawable.Animated" version="1.1.0.14" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.VersionedParcelable" version="1.1.1.14" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.ViewPager" version="1.0.0.14" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Window" version="1.0.0.9" targetFramework="monoandroid12.0" />
  <package id="dotnet.AndroidX.Work.Runtime" version="2.7.1.4" targetFramework="monoandroid12.0" />
  <package id="dotnet.Build.Download" version="0.11.2" targetFramework="monoandroid11.0" />
  <package id="dotnet.Essentials" version="1.7.3" targetFramework="monoandroid11.0" />
  <package id="dotnet.Firebase.Annotations" version="116.0.0.6" targetFramework="monoandroid12.0" />
  <package id="dotnet.Firebase.Common" version="120.1.0" targetFramework="monoandroid12.0" />
  <package id="dotnet.Firebase.Components" version="117.0.0.6" targetFramework="monoandroid12.0" />
  <package id="dotnet.Firebase.Datatransport" version="118.0.1.6" targetFramework="monoandroid12.0" />
  <package id="dotnet.Firebase.Encoders" version="117.0.0.6" targetFramework="monoandroid12.0" />
  <package id="dotnet.Firebase.Encoders.JSON" version="118.0.0.6" targetFramework="monoandroid12.0" />
  <package id="dotnet.Firebase.Encoders.Proto" version="116.0.0.1" targetFramework="monoandroid12.0" />
  <package id="dotnet.Firebase.Iid.Interop" version="117.1.0.6" targetFramework="monoandroid12.0" />
  <package id="dotnet.Firebase.Installations" version="117.0.1" targetFramework="monoandroid12.0" />
  <package id="dotnet.Firebase.Installations.InterOp" version="117.0.1" targetFramework="monoandroid12.0" />
  <package id="dotnet.Firebase.Measurement.Connector" version="119.0.0.6" targetFramework="monoandroid12.0" />
  <package id="dotnet.Firebase.Messaging" version="122.0.0.6" targetFramework="monoandroid12.0" />
  <package id="dotnet.Google.Android.DataTransport.TransportApi" version="3.0.0.4" targetFramework="monoandroid12.0" />
  <package id="dotnet.Google.Android.DataTransport.TransportBackendCct" version="3.1.4.1" targetFramework="monoandroid12.0" />
  <package id="dotnet.Google.Android.DataTransport.TransportRuntime" version="3.1.4.1" targetFramework="monoandroid12.0" />
  <package id="dotnet.Google.Guava.ListenableFuture" version="1.0.0.9" targetFramework="monoandroid12.0" />
  <package id="dotnet.GooglePlayServices.Base" version="118.0.1.1" targetFramework="monoandroid12.0" />
  <package id="dotnet.GooglePlayServices.Basement" version="118.0.2.1" targetFramework="monoandroid12.0" />
  <package id="dotnet.GooglePlayServices.CloudMessaging" version="117.0.2.1" targetFramework="monoandroid12.0" />
  <package id="dotnet.GooglePlayServices.Location" version="119.0.1.1" targetFramework="monoandroid12.0" />
  <package id="dotnet.GooglePlayServices.Places.PlaceReport" version="117.0.0.6" targetFramework="monoandroid12.0" />
  <package id="dotnet.GooglePlayServices.Stats" version="117.0.3.1" targetFramework="monoandroid12.0" />
  <package id="dotnet.GooglePlayServices.Tasks" version="118.0.1.1" targetFramework="monoandroid12.0" />
  <package id="dotnet.JavaX.Inject" version="1.0.0.5" targetFramework="monoandroid12.0" />
  <package id="dotnet.Jetbrains.Annotations" version="23.0.0.4" targetFramework="monoandroid12.0" />
  <package id="dotnet.Kotlin.StdLib" version="1.6.21.1" targetFramework="monoandroid12.0" />
  <package id="dotnet.Kotlin.StdLib.Common" version="1.6.21.1" targetFramework="monoandroid12.0" />
  <package id="dotnet.Kotlin.StdLib.Jdk7" version="1.6.21.1" targetFramework="monoandroid12.0" />
  <package id="dotnet.Kotlin.StdLib.Jdk8" version="1.6.21.1" targetFramework="monoandroid12.0" />
  <package id="dotnet.KotlinX.Coroutines.Android" version="1.6.2.1" targetFramework="monoandroid12.0" />
  <package id="dotnet.KotlinX.Coroutines.Core.Jvm" version="1.6.2.1" targetFramework="monoandroid12.0" />
</packages>